<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="ProyectoIS" connectionString="Data Source=JUANIGNACIO634E\SQLEXPRESS;Initial Catalog=DAS_2024_CV;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
